importFrom("gplots", "heatmap.2")
importFrom("e1071","svm","tune.svm")
importFrom("class","knn","knn.cv")
importFrom("plsgenomics","pls.lda.cv","pls.regression","transformy")
importFrom("MASS",lda)
importFrom("caret","plsda")
importFrom("agricolae","LSD.test","tapply.stat","order.group")
importFrom("CAMERA","xsAnnotate","groupFWHM","findIsotopes","groupCorr","findAdducts")
importFrom("xcms","sampnames","xcmsSet","group","retcor","fillPeaks")
importClassesFrom("CAMERA","xsAnnotate")
importMethodsFrom("CAMERA","getPeaklist")
import("methods")
import( "Rcpp" )
importFrom("pls","scores","loadings")
importFrom("caret","train")
exportMethods("summary","model","scores","loadings")

export("Biotransformations","classes","classifRatioClasses","classNum","featureID","featureInfo","featureSigID","identifyMetabolites","LSDResults","metaboliteTable","models","model","scores","MAITbuilder","method")
export("pcaScores","plsScores","pcaLoadings","plsLoadings","loadings","getScoresTable")

export("ovClassifRatioData","ovClassifRatioTable","parameters","peakAggregation","peakAnnotation","plotBoxplot","plotHeatmap","pcaModel","plsModel","plotPLS","plotPCA","pvalues","pvaluesCorrection","rawData")
export("resultsPath","sampleProcessing","sigPeaksTable","spectralSigFeatures")
export("Validation","MAITbuilder")
exportClasses("MAIT","MAIT.Parameters","MAIT.FeatureData","MAIT.FeatureInfo","MAIT.PhenoData","MAIT.RawData","MAIT.Validation")

